:root {
  --disabled-tc: #b0b0b0;
  --disabled-text-tc: #707070;
  --error-tc: #ff3238;
  --success-tc: #00c000;
  --secondary-tc: #969696;
  --text-tc: black;
  --warn-tc: orange;
  --soft-tc: #666666;
  --required-tc: red;
  --input-inset-tc: #969696;
  --info-tc: #4d90fe;
  --shadow-tc: 3px 3px 3px #00000070;
  background-color: silver;
  font-family: system-ui, sans-serif;
}

.text-button {
  align-items: center;
  background-color: var(--success-tc);
  border-radius: 0.75em;
  border: 2px solid;
  border-color: var(--success-tc);
  box-sizing: border-box;
  color: var(--text-tc);
  display: inline-flex;
  cursor: pointer;
  box-shadow:
    var(--shadow-tc),
    inset 0.25em 0.25em 10px #ffffff70;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  padding: 0 0.7em;
  margin: 2px;
  height: 2.25em;
  touch-action: manipulation;
  transition:
    background-color 60ms ease-in-out,
    border-color 60ms ease-in-out,
    box-shadow 60ms ease-in-out,
    transform 60ms ease-in-out;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  -webkit-user-select: none;
  &:active&:not(:disabled) {
    transform: scale(0.94);
    box-shadow:
      0.5px 0.5px 1px #00000070,
      inset 0.1em 0.1em 10px #ffffff60;
  }
  &.-large {
    font-size: 1.25rem;
  }
  &.-small {
    padding: 0 0.5em;
    border-radius: 0.6em;
    height: 1.5em;
  }
  &.-fullwidth {
    width: 100%;
  }
  &.-secondary {
    background-color: var(--secondary-tc);
    border-color: var(--secondary-tc);
  }
  &.-error {
    background-color: var(--error-tc);
    border-color: var(--error-tc);
  }
  &.-warn {
    background-color: var(--warn-tc);
    border-color: var(--warn-tc);
  }
  &.-info {
    background-color: var(--info-tc);
    border-color: var(--info-tc);
  }
  &:disabled {
    background-color: var(--disabled-tc);
    border-color: var(--disabled-tc);
    color: var(--disabled-text-tc);
    cursor: not-allowed;
    box-shadow: none;
  }
  > .icon {
    font-size: 1.5em;
    text-align: center;
  }
}

.icon-button {
  align-items: center;
  border-radius: 100%;
  background-color: var(--success-tc);
  border: 2px solid;
  border-color: var(--success-tc);
  box-sizing: border-box;
  color: var(--text-tc);
  cursor: pointer;
  display: inline-flex;
  height: 55px;
  justify-content: center;
  padding: 0;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  margin: 2px;
  text-decoration: none;
  vertical-align: middle;
  box-shadow:
    var(--shadow-tc),
    inset 0.25em 0.25em 10px #ffffff70;
  touch-action: manipulation;
  transition:
    background-color 60ms ease-in-out,
    box-shadow 60ms ease-in-out,
    transform 60ms ease-in-out;
  width: 55px;
  user-select: none;
  -webkit-user-select: none;
  &:active&:not(:disabled) {
    transform: scale(0.94);
    box-shadow:
      1px 1px 3px #00000070,
      inset 0.1em 0.1em 10px #ffffff60;
  }
  &.-big {
    font-size: 2rem;
  }
  &.-secondary {
    background-color: var(--secondary-tc);
    border-color: var(--secondary-tc);
  }
  &.-error {
    background-color: var(--error-tc);
    border-color: var(--error-tc);
  }
  &.-warn {
    background-color: var(--warn-tc);
    border-color: var(--warn-tc);
  }
  &.-info {
    background-color: var(--info-tc);
    border-color: var(--info-tc);
  }
  &:disabled {
    background-color: var(--disabled-tc);
    border-color: var(--disabled-tc);
    color: var(--disabled-text-tc);
    cursor: not-allowed;
    box-shadow: 0px 0px 0px #00000070;
  }

  > .icon {
    width: 1.5em;
  }
}

.text-input {
  text-align: left;
  -webkit-appearance: none;
  min-height: 3.2em;
  display: block;
  padding: 0.75em;
  border: 3px inset var(--input-inset-tc);
  margin: 2px;
  font-size: 0.875rem;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  &:invalid {
    border-color: var(--error-tc);
    border-radius: 3px;
  }
  &:focus {
    outline: 2px solid var(--info-tc);
    border-color: var(--info-tc);
    border-radius: 3px;
  }
  &:invalid {
    outline: 2px solid var(--error-tc);
  }
  &::-webkit-date-and-time-value {
    text-align: left;
    color: var(--text-tc);
  }
}

.input-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.input-label {
  > .description {
    color: var(--soft-tc);
  }
  > .requiredstar {
    color: var(--required-tc);
  }
}

.bread-crumb {
  > .parameter {
    color: blue;
    text-decoration: none;
  }
  > .parameter:hover {
    text-decoration: underline;
  }
}

.accordion-section {
  display: grid;
  grid-template-rows: max-content 0fr;
  overflow: hidden;
  transition: grid-template-rows 250ms ease-in-out;
  margin: 2px;
  visibility: visible;
  margin: 0.5rem 0;
  border-top-right-radius: 0.75em;
  box-shadow: var(--shadow-tc);
  &:has(> .trigger:checked) {
    grid-template-rows: max-content 1fr;
  }
  > .topcontent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: var(--success-tc);
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    border: 2px solid var(--success-tc);
    grid-column-start: 1;
    grid-row-start: 1;
    box-shadow: inset 0.25em 0.25em 10px #ffffff70;
    font-weight: 600;
    font-size: 1.12rem;
  }
  > .topcontent > .icon {
    width: 2rem;
    transition: transform 125ms;
  }
  &.-secondary > .topcontent {
    background-color: var(--secondary-tc);
    border-color: var(--secondary-tc);
  }
  &.-warn > .topcontent {
    background-color: var(--warn-tc);
    border-color: var(--warn-tc);
  }
  &.-error > .topcontent {
    background-color: var(--error-tc);
    border-color: var(--error-tc);
  }
  &.-info > .topcontent {
    background-color: var(--info-tc);
    border-color: var(--info-tc);
  }
  > .trigger {
    appearance: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-row-start: 1;
    cursor: pointer;
    z-index: 1;
  }
  > .bottomcontent {
    grid-column-start: 1;
    grid-row-start: 2;
    overflow: hidden;
    transition: padding 250ms ease-in-out;
    border: 0 solid var(--secondary-tc);
    border-width: 0 2px;
    padding: 0 1rem;
  }
  > .trigger:checked ~ .topcontent {
    box-shadow: inset 0.1em 0.1em 10px #ffffff60;
    transition: box-shadow 250ms ease-in-out;
  }
  > .trigger:checked ~ .topcontent > .icon {
    transform: rotate(180deg);
  }
  > .trigger:checked ~ .bottomcontent {
    transition: padding 250ms ease-in-out;
    min-height: fit-content;
    padding: 1rem;
    border-bottom: 2px;
  }
}

.alert-banner {
  display: flex;
  align-items: center;
  padding: 0.8rem 2em;
  border: solid color-mix(in srgb, var(--success-tc) 90%, black);
  border-width: 10px 0;
  border-radius: 3px;
  margin: 1rem 0;
  gap: 0.25rem;
  box-sizing: border-box;
  background-color: color-mix(in srgb, var(--success-tc) 80%, white);
  box-shadow: var(--shadow-tc);
  &.-secondary {
    background-color: color-mix(in srgb, var(--secondary-tc) 80%, white);
    border-color: color-mix(in srgb, var(--secondary-tc) 90%, black);
  }
  &.-error {
    background-color: color-mix(in srgb, var(--error-tc) 80%, white);
    border-color: color-mix(in srgb, var(--error-tc) 90%, black);
  }
  &.-warn {
    background-color: color-mix(in srgb, var(--warn-tc) 80%, white);
    border-color: color-mix(in srgb, var(--warn-tc) 90%, black);
  }
  &.-info {
    background-color: color-mix(in srgb, var(--info-tc) 80%, white);
    border-color: color-mix(in srgb, var(--info-tc) 90%, black);
  }
  &.-multiline {
    flex-direction: column;
    align-items: start;
  }
  > .heading {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 700;
    font-size: 1.12rem;
  }

  > .heading > .icon {
    width: 2rem;
  }
}

.code-snippet {
  background-color: white;
  overflow: auto;
  border: 3px inset var(--input-inset-tc);
  padding: 1em;
  > code > .element {
    color: var(--success-tc);
  }
  > code > .class {
    color: var(--error-tc);
  }
}
