:root {
  --disabled: #b0b0b0;
  --error: #ff3238;
  --success: #00c000;
  --secondary: #969696;
  --text: black;
  --warn: orange;
  --soft: #666666;
  --required: red;
  background-color: silver;
  font-family: system-ui, sans-serif;
}

.text-button {
  align-items: center;
  background-color: var(--success);
  border-radius: 0.75em;
  border: 2px solid;
  border-color: var(--success);
  box-sizing: content-box;
  color: var(--text);
  display: inline-flex;
  cursor: pointer;
  box-shadow:
    3px 3px 3px #00000070,
    inset 0.25em 0.25em 10px #ffffff70;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 1rem;
  padding: 0 0.7rem;
  height: 2em;
  touch-action: manipulation;
  transition:
    background-color 60ms ease-in-out,
    border-color 60ms ease-in-out,
    box-shadow 60ms ease-in-out,
    transform 60ms ease-in-out;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  &:active {
    transform: scale(0.94);
    box-shadow:
      0.5px 0.5px 1px #00000070,
      inset 0.1em 0.1em 10px #ffffff60;
  }
  &.-large {
    font-size: 1.25rem;
  }
  &.-small {
    padding: 0 0.5em;
    border-radius: 0.6em;
    height: 1.5em;
  }
  &.-fullwidth {
    width: 100%;
  }
  &.-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
  &.-error {
    background-color: var(--error);
    border-color: var(--error);
  }
  &.-warn {
    background-color: var(--warn);
    border-color: var(--warn);
  }
  &.-disabled {
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: #707070;
    pointer-events: none;
    box-shadow: none;
  }
  > .icon {
    font-size: 1.5em;
    text-align: center;
  }
}

.icon-button {
  align-items: center;
  border-radius: 100%;
  background-color: var(--success);
  border: 2px solid;
  border-color: var(--success);
  box-sizing: content-box;
  color: var(--text);
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  padding: 0;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 600;
  box-shadow:
    3px 3px 3px #00000070,
    inset 0.25em 0.25em 10px #ffffff70;
  touch-action: manipulation;
  transition:
    background-color 60ms ease-in-out,
    box-shadow 60ms ease-in-out,
    transform 60ms ease-in-out;
  width: 50px;
  user-select: none;
  -webkit-user-select: none;
  &:active {
    transform: scale(0.94);
    box-shadow:
      1px 1px 3px #00000070,
      inset 0.1em 0.1em 10px #ffffff60;
  }
  &.-big {
    font-size: 2rem;
  }
  &.-secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
  &.-error {
    background-color: var(--error);
    border-color: var(--error);
  }
  &.-warn {
    background-color: var(--warn);
    border-color: var(--warn);
  }
  &.-disabled {
    background-color: var(--disabled);
    border-color: var(--disabled);
    color: #707070;
    pointer-events: none;
    box-shadow: 0px 0px 0px #00000070;
  }
}

.text-input {
  padding: 0.75em;
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 0;
  box-sizing: border-box;
  &:invalid {
    border-color: red;
    outline: 1px inset red;
  }
}

.input-stack {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.input-label {
  > .description {
    color: var(--soft);
  }
  > .requiredstar {
    color: var(--required);
  }
}

.bread-crumb {
  > .parameter {
    color: blue;
    text-decoration: none;
  }
  > .parameter:hover {
    text-decoration: underline;
  }
}

.alert-banner {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  background-color: gray;
  &.-success: {
    background-color: var(--success);
  }
  &.-error: {
    background-color: var(--error);
  }
  &.-warn: {
    background-color: var(--warn);
  }
  > .heading {
    padding: 0.5em 1em;
  }
  > .body {
    padding: 1em;
  }
}
